@using CleanArchitecture.Application.Employees.ViewModels

@model IList<EmployeeModel>

<h2>@ViewBag.Title</h2>
<hr>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x[0].Id)
            </th>
            <th>@Html.DisplayNameFor(x => x[0].Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="3">
                    There are no employees
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary"
                           asp-controller="EmployeesEdit"
                           asp-action="Edit"
                           asp-route-id="@item.Id"
                           role="button">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <a class="btn btn-sm btn-outline-primary" asp-controller="EmployeesCreate" asp-action="Create" role="button">
                    Create
                </a>
            </td>
        </tr>
    </tfoot>
</table>